<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/bootstrap/css/mdb.min.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="shortcut icon" href="/image/icon.png" type="image/x-icon">
        <title>Buscador de Endereço</title>
    </head>
    <body>
        {{{body}}}
        
        <script src="/bootstrap/js/mdb.min.js"></script>
    </body>
</html>