<div class="container body-error">
    <div class="row justify-content-md-center">
        <div class="col">
            <div class="alert alert-danger" role="alert">
                <center>Erro ao buscar este CEP!</center>
            </div>
            <a href="/" class="btn btn-danger btn-search">Voltar para a busca</a>
        </div>
    </div>
</div>