.container{
    max-width: 850px;
    margin-top: 12%;
}

form{
    width: 600px !important;
}

.accordion{
    width: 600px !important;
}

.btn-search{
    width: 100% !important;
}

.body-error{
    margin-top: 20% !important;
}